// removeDatastoreMountConfigFromUpdateMask removes 'datastoreMountConfig' from the updateMask in a URL.
url = removeDatastoreMountConfigFieldFromUpdateMask(url)
log.Printf("[DEBUG] After removal of datastoreMountConfig from updateMask %q cluster patch url: %#v", d.Id(), url)
